<%- include("partials/_header") %>

<!--
<div class="container mt-5">
 
    <div class="col-md-5">
      <div class="card-body">
        <form action="/add" method="POST" id="signupForm">
          <input
            type="number"
            name="id"
            placeholder="Id"
            class="form-control mb-2"
          />
          <!- <input 
            type="number"
            name="role_id"
            placeholder="Role_id"
            class="form-control mb-2"
            ->
          />
          <input
            type="text"
            name="name"
            placeholder="Name"
            class="form-control mb-2"
            autofocus
          />
          <input
            type="email"
            name="email"
            placeholder="Address"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="avatar"
            placeholder="Avatar"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="password"
            placeholder="Password"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="remember_token"
            placeholder="Remember_token"
            class="form-control mb-2"
          />
          <input
            type="text"
            name="settings"
            placeholder="Settings"
            class="form-control mb-2"
          />
          <button type="submit" class="btn btn-info">save customer</button>
        </form>
      </div>
    </div>
  </div>
</div>
-->

<section class="sectionSignup">
  <form action="/add" method="POST" id="signupForm">
      <h2>Registro</h2>
      <label>Nombre</label>
      <input type="text" name="name" placeholder="Escribe tu nombre" id="name" required autofocus>
      <label>Email</label>
      <input type="email" name="email" placeholder="Escribe tu email" id="email" required>
      <label>Contraseña</label>
      <input type="password" name="password" placeholder="Escribe tu contraseña" id="password" required>
      <input type="submit" value="Registro">
  </form>
  <p class="parrafo">Ya tienes una cuenta? <a href="login.html">Login</a></p>
</section>


<%- include("partials/_footer") %>
